<header class="border-b border-slate-900/10 backdrop-blur">
	<div class="max-w-7xl mx-auto p-3">
		<div class="flex justify-between items-center">
			<a class="flex items-center" href="{{ path('app_home') }}">
				<img
				src="/images/auto.png" alt="Logo" class="h-auto w-[60px] mr-3">
			
			</a>
			<nav class="text-right">
				<ul class="flex space-x-8">
					<li>
						<a href="{{ path('app_product_list') }}"><h4><b>CATALOG</b></h4></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
