<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
    table,tr,td,th { border: 1px solid;border-collapse: collapse;width:50%;height:70%}
    th{height:50px}
    td{height:25px}
    .tab{height: 165px; width: 500px ;background-color:rgb(140, 140, 180)}
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
<div class="tab">
<table style="float: left;text-align:center;">
<tr>
    <th>Nume produs</th>
    <th>Pret produs</th>
</tr>
<tr ng-repeat="x in produse">
    <td>{{x.nume}}</td>
    <td>{{x.pret}}</td>
</tr>
</table>
<table style="float: left;text-align:center;">
<tr>
    <th>Selecteaza</th>
</tr>
<tr>
    <td><input type="checkbox" ng-model="opts.val1" ng-true-value="25"></td>
</tr>
<tr>
    <td><input type="checkbox" ng-model="opts.val2" ng-true-value="15"></td>
</tr>
<tr>
    <td><input type="checkbox" ng-model="opts.val3" ng-true-value="78"></td>
</tr>
<tr>
    <td><input type="checkbox" ng-model="opts.val4" ng-true-value="56"></td>
</tr>
</table>
</div>
<br>
 <label>Total: {{ Total() }}</label>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {

$scope.produse=[{id:1, nume:"Lapte",pret:25},
				{id:2,nume:"Cartofi",pret:15},
				{id:3,nume:"Carne de pui",pret:78},
				{id:4,nume:"Peste",pret:56}
				];
                
    $scope.opts = {
 	val1: false,
 	val2: false,
    val3: false,
    val4: false,
	};
    $scope.Total = function () {

  var opts = $scope.opts;
  var total = opts.val1 + opts.val2+ opts.val3 + opts.val4;

   return  total;
};

});
</script>

</body>
</html>
