{% extends 'base.html.twig' %}

{% block title %}OnlineShop
{% endblock %}

{% block body %}
	<main class="container mx-auto mt-20">
		<div class="text-center">
				
                <center><img width="50%" src="images/avtosalon.jpg"></center>
			
		</div>
	</main>
{% endblock %}
